@using SpendCA.Core.Entities
@model Spend

<h2>Create</h2>
<h4>Spend</h4>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="Spends" asp-action="Create" method="post">
                <div class="form-group">
                    <label>Location</label>
                    <input type="text" class="form-control" id="location" name="location">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input type="text" class="form-control" id="description" name="description">
                </div>
                <div class="form-group">
                    <label>Value</label>
                    <input type="number" class="form-control" id="value" name="value">
                </div>
                <div class="form-group">
                    <label>Date</label>
                    <input type="text" class="form-control" id="date" name="date" autocomplete="off" value="@DateTime.Now.ToShortDateString()">
                </div>
                <div class="form-group">
                    <label>Category</label>
                    @Html.DropDownListFor(x => x.CategoryId, new SelectList(ViewBag.Categories, "Id", "Description"), htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="form-check">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Styles{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
}

@section Scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>

    <script>
        $('#date').datepicker({
            autoclose: true,
            todayHighlight: true,

        });
    </script>

}
