@using SpendCA.Core.Entities
@model List<Category>


<h1>Categories</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <h4>Description</h4>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>
        }
    </tbody>
</table>