@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutLogin";
}

<div class="middle-box" style="width: 350px;">
    <div class="shadow-lg p-3">
        <h2 class="text-center mb-4 mt-4">Welcome to SpendCA</h2>
        <form asp-action="login" method="post">
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" id="email" name="email" placeholder="Enter e-mail" value="teste@teste.com">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password" value="123456">
            </div>
            <div class="mt-4">
                <button type="submit" class="btn btn-primary block full-width">Login</button>
            </div>
        </form>
    </div>
</div>