@using SpendCA.Core.Entities

<div class="row white-bg page-heading">
    <div class="col-lg-12">
        <h2>@ViewBag.filter.MinDate.ToString("d") -- @ViewBag.filter.MaxDate.ToString("d")</h2>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">

        @foreach (var category in ViewData["categoriesSummary"] as List<CategoryViewModel>)
        {
            <div class="col-lg-3">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>@category.Category</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">@category.Total.ToString("c")</h1>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
